@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root{
  --clr-primary-800: hsl(258, 54%, 52%);
  --clr-primary-200: hsl(264, 100%, 98%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(210, 20%, 98%);

  --clr-border-light: hsl(220, 17%, 93%);
  --clr-border-dark: hsl(217, 16%, 84%);

  --clr-text-dark: hsl(220, 43%, 11%);
  --clr-text-light: hsl(221, 13%, 36%);

  --clr-error: hsl(4, 86%, 58%);
  --clr-success: hsl(145, 81%, 96%);

  --fw-rg: 400;
  --fw-md: 500;
  --fw-sb: 600;
  --fw-bd: 700;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

header {
  background-color: var(--clr-primary-800);
}

input::placeholder {
  font-size: 0.875rem;
  color: var(--clr-text-light);
}

button {
  cursor: pointer;
  border: none;
}

input:focus {
  outline: 1.2px solid var(--clr-primary-800);
}

select:focus {
  outline: 1.2px solid var(--clr-primary-800);
}

input[type="radio"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1em;
  height: 1em;
  border: 1px solid hsl(217, 16%, 74%);
  border-radius: 50%;
  transform: translateY(-0.075em);
  transition: box-shadow 500ms;
}

input[type="radio"]:hover {
  box-shadow: hsla(239, 84%, 67%, 0.4) 0px 8px 24px;
}

input[type="radio"] {
  cursor: pointer;
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--clr-primary-800);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}